.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Certificando que o contêiner preenche toda a tela */
    margin: 0;
    background-image: url("wall.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}

.panel {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Garante 3 colunas */
    grid-template-rows: repeat(3, 1fr); /* Garante 3 linhas */
    gap: 0; /* Remover espaços entre os quadrados */
    width: 100%; /* Certificando que a largura é 100% */
    height: calc(100vh - 90px - 1rem); /* Ajusta o tamanho da área do jogo */
}

.square {
    width: 100%; /* Garante que o quadrado ocupe toda a largura disponível */
    height: 100%; /* Garante que o quadrado ocupe toda a altura disponível */
    border: 1px solid #000000;
    background-color: #1aeaa5;
    box-sizing: border-box; /* Inclui as bordas no tamanho total */
}

.enemy {
    background-image: url("ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 0.5rem;
    }

    .menu-lives img {
        height: 40px;
    }

    .panel {
        gap: 0; /* Certificando-se de que não há espaço entre os quadrados */
    }

    .square {
        height: 100px;
        width: 100px;
    }
}

body {
    margin: 0; /* Remove margens externas do body */
}

