/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-image: url("wall.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center; /* Isso vai centralizar o conteúdo verticalmente */
}

/* Menu no topo */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}

/* Área onde os quadrados (game) são exibidos */
.panel {
    display: grid;
    grid-template-columns: repeat(3, 150px); /* Tamanho fixo de 150px para cada quadrado */
    grid-template-rows: repeat(3, 150px); /* Tamanho fixo de 150px para cada quadrado */
    gap: 0; /* Remove qualquer espaço entre os quadrados */
    justify-content: center;
    align-items: center;
    margin-top: 2rem; /* Ajusta a distância entre o menu e o jogo */
}

/* Quadrado padrão do jogo */
.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: #1aeaa5;
    box-sizing: border-box; /* Garante que bordas não aumentem o tamanho do quadrado */
}

/* Quadrado com o inimigo (Imagem do Ralph) */
.enemy {
    background-image: url("ralph.png");
    background-size: cover;
}

/* Menu de vidas, score e tempo */
.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 1rem;
    }

    .menu {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 0.5rem;
    }

    .menu-lives img {
        height: 40px;
    }

    .panel {
        grid-template-columns: repeat(3, 100px); /* Reduz o tamanho dos quadrados para 100px em telas menores */
        grid-template-rows: repeat(3, 100px);
    }

    .square {
        height: 100px;
        width: 100px;
    }
}

/* Remover margem do body */
body {
    margin: 0;
}
