/* Estilo padrão para o computador */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("wall.png");
    background-size: cover;
}

/* Menu superior */
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;
}

/* Painel das quadrículas */
.panel {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quadrados no painel - para computador */
.square {
    height: 150px;  /* Ajuste do tamanho para computador */
    width: 150px;
    border: 1px solid #000000;
    background-color: #1aeaa5;
    box-sizing: border-box;
}

/* Imagem do inimigo */
.enemy {
    background-image: url("ralph.png");
    background-size: cover;
}

/* Menu de vidas */
.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajustes para celular usando media queries */
@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;  /* Para celulares, ainda ocupa 100% da tela */
        background-size: cover;
    }

    /* Menu em celular */
    .menu {
        height: 80px; /* Tamanho do menu reduzido no celular */
    }

    /* Quadrados no painel - para celular */
    .square {
        height: 100px;  /* Quadrados menores no celular */
        width: 100px;
    }

    /* Painel ajustado */
    .panel {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Ajuste para manter 3 colunas no celular */
        gap: 5px;
    }
}
